@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,400i,600,600i,700,800');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/*******FONT-AWESOME ICON****/

i {
	font-size:1em!important;
	/*color:#F00;*/
	/*text-shadow:2px 2px 2px #000;*/
}



.row {
	
}
.circle {
	position: absolute;
	left: calc(50% - 50px);
	top: 35%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px dashed #cc3333;
	box-sizing: border-box;
	
	color: #000;
	font-size: 1em;
	 
	 animation-name: Rotate;	
	 animation-duration: 8s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}


	keyframes Rotate {
 0%{
	 top: 35%;
	 transform:rotate(0deg); 
	
	}
	
 80%{
	 top: 35%;
	 transform:rotate(360deg); 
	
	}
	
 100%{
	 top: 75%;
	 transform:rotate(360deg); 

	}	
}

/*******HEADER & NAV ****/
header {
	background: #504B4B;
}

.nav {
	font-size: 14px;
	color: #D0CECE;
	width: 100%;
	line-height:14px;
	
}

.nav-item a {
	color: #fff;
	transition: all ease 0.4s;
	border-right: 1px #AE0E47 solid;
	margin-left: 10px;
}

.nav-item a:hover {
	color: #E51185;
}

.nav-item:last-child {
	background: #000;
	border-right: none;

	
}

li.nav-item:last-child {
	color: #AE0E47;
	margin-left: 0;
	
	
}


/**************************FORM STYLING*/
#forms-section {
	max-width: 550px;
	color: #1A1F20;
	background: #992A60;
	padding: 40px;
}

#forms-section legend {
	color: #fff;
	font-weight: 600;
}




/**************************FOOTER*/
#footer-container {
	background: #504B4B;
	margin-top: 10px;
	padding: 10px 10px 15px 10px;
	
}




/**************************RESPONSIVE COLUMNS*/
.col13 { width: 29.33%;}
.col23 { width: 62.66%;}
.col33 { }
.col12 { width: 46%;}
.col14 { width: 21%;}
.col34 { width: 71%;}
.col15 { width: 16%;}
.col16 { width: 12.66%;}

.col13,
.col12, 
.col33, 
.col14, 
.col34, 
.col23,
.col15, 
.col16 {
    margin: 1%;
    padding: 1%;
  
}
/***************************REUSABLE CLASS*/
.fl {float: left;}
.fr {float: right;}
.clear {clear:both;}

/***********************MEDIA QUERIES******/

/**
 * Icons
 */

@font-face {
	font-family:"Genericons-Neue";
	src: url("../fonts/Genericons-Neue.eot") format("embedded-opentype"),
         url("../fonts/Genericons-Neue.woff2") format("woff2"),
         url("../fonts/Genericons-Neue.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

.genericons-neue {
	font-family:"Genericons-Neue";
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.genericons-neue-activity:before {
	content:"\f508";
}


.genericons-neue-anchor:before {
	content:"\f509";
}


.genericons-neue-aside:before {
	content:"\f101";
}


.genericons-neue-attachment:before {
	content:"\f416";
}


.genericons-neue-audio-mute:before {
	content:"\f174";
}


.genericons-neue-audio:before {
	content:"\f109";
}


.genericons-neue-bold:before {
	content:"\f471";
}


.genericons-neue-book:before {
	content:"\f444";
}


.genericons-neue-bug:before {
	content:"\f50a";
}


.genericons-neue-cart:before {
	content:"\f447";
}


.genericons-neue-category:before {
	content:"\f301";
}


.genericons-neue-chat:before {
	content:"\f108";
}


.genericons-neue-checkmark:before {
	content:"\f418";
}


.genericons-neue-close-alt:before {
	content:"\f406";
}


.genericons-neue-close:before {
	content:"\f405";
}


.genericons-neue-cloud-download:before {
	content:"\f440";
}


.genericons-neue-cloud-upload:before {
	content:"\f441";
}


.genericons-neue-cloud:before {
	content:"\f426";
}


.genericons-neue-code:before {
	content:"\f462";
}


.genericons-neue-cog:before {
	content:"\f445";
}


.genericons-neue-collapse:before {
	content:"\f432";
}


.genericons-neue-comment:before {
	content:"\f300";
}


.genericons-neue-day:before {
	content:"\f305";
}


.genericons-neue-document:before {
	content:"\f443";
}


.genericons-neue-download:before {
	content:"\f50b";
}


.genericons-neue-edit:before {
	content:"\f411";
}


.genericons-neue-ellipsis:before {
	content:"\f476";
}


.genericons-neue-expand:before {
	content:"\f431";
}


.genericons-neue-external:before {
	content:"\f442";
}


.genericons-neue-fastforward:before {
	content:"\f458";
}


.genericons-neue-feed:before {
	content:"\f413";
}


.genericons-neue-flag:before {
	content:"\f468";
}


.genericons-neue-fullscreen:before {
	content:"\f474";
}


.genericons-neue-gallery:before {
	content:"\f103";
}


.genericons-neue-heart:before {
	content:"\f461";
}


.genericons-neue-help:before {
	content:"\f457";
}


.genericons-neue-hide:before {
	content:"\f404";
}


.genericons-neue-hierarchy:before {
	content:"\f505";
}


.genericons-neue-home:before {
	content:"\f409";
}


.genericons-neue-image:before {
	content:"\f102";
}


.genericons-neue-info:before {
	content:"\f455";
}


.genericons-neue-italic:before {
	content:"\f472";
}


.genericons-neue-key:before {
	content:"\f427";
}


.genericons-neue-link:before {
	content:"\f107";
}


.genericons-neue-location:before {
	content:"\f417";
}


.genericons-neue-lock:before {
	content:"\f470";
}


.genericons-neue-mail:before {
	content:"\f410";
}


.genericons-neue-menu:before {
	content:"\f419";
}


.genericons-neue-microphone:before {
	content:"\f50d";
}


.genericons-neue-minus:before {
	content:"\f50e";
}


.genericons-neue-month:before {
	content:"\f307";
}


.genericons-neue-move:before {
	content:"\f50f";
}


.genericons-neue-next:before {
	content:"\f429";
}


.genericons-neue-notice:before {
	content:"\f456";
}


.genericons-neue-paintbrush:before {
	content:"\f506";
}


.genericons-neue-pause:before {
	content:"\f448";
}


.genericons-neue-phone:before {
	content:"\f437";
}


.genericons-neue-picture:before {
	content:"\f473";
}


.genericons-neue-pinned:before {
	content:"\f308";
}


.genericons-neue-play:before {
	content:"\f452";
}


.genericons-neue-plugin:before {
	content:"\f439";
}


.genericons-neue-plus:before {
	content:"\f510";
}


.genericons-neue-previous:before {
	content:"\f430";
}


.genericons-neue-print:before {
	content:"\f469";
}


.genericons-neue-quote:before {
	content:"\f106";
}


.genericons-neue-refresh:before {
	content:"\f420";
}


.genericons-neue-reply:before {
	content:"\f466";
}


.genericons-neue-rewind:before {
	content:"\f459";
}


.genericons-neue-search:before {
	content:"\f400";
}


.genericons-neue-send-to-phone:before {
	content:"\f438";
}


.genericons-neue-send-to-tablet:before {
	content:"\f454";
}


.genericons-neue-share:before {
	content:"\f415";
}


.genericons-neue-show:before {
	content:"\f403";
}


.genericons-neue-shuffle:before {
	content:"\f514";
}


.genericons-neue-sitemap:before {
	content:"\f507";
}


.genericons-neue-skip-ahead:before {
	content:"\f451";
}


.genericons-neue-skip-back:before {
	content:"\f450";
}


.genericons-neue-spam:before {
	content:"\f424";
}


.genericons-neue-standard:before {
	content:"\f100";
}


.genericons-neue-star-empty:before {
	content:"\f511";
}


.genericons-neue-star-half:before {
	content:"\f513";
}


.genericons-neue-star:before {
	content:"\f408";
}


.genericons-neue-status:before {
	content:"\f105";
}


.genericons-neue-stop:before {
	content:"\f449";
}


.genericons-neue-subscribe:before {
	content:"\f463";
}


.genericons-neue-subscribed:before {
	content:"\f465";
}


.genericons-neue-summary:before {
	content:"\f425";
}


.genericons-neue-tablet:before {
	content:"\f453";
}


.genericons-neue-tag:before {
	content:"\f302";
}


.genericons-neue-time:before {
	content:"\f303";
}


.genericons-neue-top:before {
	content:"\f435";
}


.genericons-neue-trash:before {
	content:"\f407";
}


.genericons-neue-unapprove:before {
	content:"\f446";
}


.genericons-neue-unsubscribe:before {
	content:"\f464";
}


.genericons-neue-unzoom:before {
	content:"\f401";
}


.genericons-neue-user:before {
	content:"\f304";
}


.genericons-neue-video:before {
	content:"\f104";
}


.genericons-neue-videocamera:before {
	content:"\f517";
}


.genericons-neue-warning:before {
	content:"\f414";
}


.genericons-neue-website:before {
	content:"\f475";
}


.genericons-neue-week:before {
	content:"\f306";
}


.genericons-neue-xpost:before {
	content:"\f504";
}


.genericons-neue-zoom:before {
	content:"\f402";
}






